div.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.error {
    color: red
}

.ok {
    color: green
}

textarea.codeblock {
    flex-shrink: 0;
    height: 500px;
}

table.variables {font-family: verdana,arial,sans-serif;font-size:11px;color:#333333;border-width: 1px;border-color: #666666;border-collapse: collapse;}

table.variables th {border-width: 1px;padding: 8px;border-style: solid;border-color: #666666;background-color: #dedede;}

table.variables td {border-width: 1px;padding: 8px;border-style: solid;border-color: #666666;background-color: #ffffff;}

